Repository dhughes/color-the-map: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.5
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]
        exclude: ^alembic/

  - repo: local
    hooks:
      - id: frontend-lint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-prettier
        name: Prettier (frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: frontend/.*\.(ts|tsx|json|css)$
        pass_filenames: true

Address code review feedback
  alembic/versions/82385426c458_add_creator_field_to_tracks_table.py
  backend/models/track_model.py
  backend/services/gpx_parser.py
  backend/tests/fixtures/test-no-creator.gpx
  backend/tests/test_gpx_parser.py
Due: none

Fix overly broad gitignore - only ignore data/ not all GPX files
  .gitignore
Due: none

Feature: Add creator field and set up Alembic migrations (#36)
  .claude/settings.local.json
  .gitignore
  .pre-commit-config.yaml
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/67ee1956bc6a_baseline_existing_database_schema.py
  alembic/versions/82385426c458_add_creator_field_to_tracks_table.py
  backend/api/models.py
  backend/models/gpx_data.py
  backend/models/track.py
  backend/models/track_model.py
  backend/services/gpx_parser.py
  backend/services/track_service.py
  backend/tests/fixtures/test-no-creator.gpx
  backend/tests/test_gpx_parser.py
  deploy.sh
  frontend/src/types/track.ts
  migrations/README.md
  requirements.txt
Due: frontend-lint, frontend-prettier

Setup CI checks in GitHub Actions
  .github/workflows/ci.yml
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier

Fix CI test failures
  .github/workflows/ci.yml
  sample-gpx-files/Cycling 2025-12-19T211415Z.gpx
  sample-gpx-files/Downhill Skiing 2025-01-23T001434Z.gpx
  sample-gpx-files/Multisport 2025-09-27T131031Z-1.gpx
  sample-gpx-files/Walking 2031.gpx
  sample-gpx-files/What the hell. Why not?.gpx
  sample-gpx-files/route_2024-09-21_9.04am.gpx
  sample-gpx-files/route_2025-03-01_5.31pm.gpx
  sample-gpx-files/route_2025-03-14_6.24pm.gpx
Due: none

Create data directory before running migrations in CI
  .github/workflows/ci.yml
Due: none

Fix baseline migration to create initial schema
  alembic/versions/67ee1956bc6a_baseline_existing_database_schema.py
Due: none

claude config
  .claude/settings.local.json
Due: none

Update CI to show all failures at once
  .github/workflows/ci.yml
Due: none

TEMP: Intentionally break mypy and TypeScript checks
  backend/main.py
  frontend/src/types/track.ts
Due: frontend-lint, frontend-prettier

TEMP: Break ruff format AND pytest in backend
  backend/config.py
  backend/services/gpx_parser.py
Due: none

Remove intentional test failures
  backend/config.py
  backend/main.py
  backend/services/gpx_parser.py
  frontend/src/types/track.ts
Due: frontend-lint, frontend-prettier

[#13] Setup CI checks in GitHub Actions (#37)
  .claude/settings.local.json
  .github/workflows/ci.yml
  alembic/versions/67ee1956bc6a_baseline_existing_database_schema.py
  frontend/package-lock.json
  frontend/package.json
  sample-gpx-files/Cycling 2025-12-19T211415Z.gpx
  sample-gpx-files/Downhill Skiing 2025-01-23T001434Z.gpx
  sample-gpx-files/Multisport 2025-09-27T131031Z-1.gpx
  sample-gpx-files/Walking 2031.gpx
  sample-gpx-files/What the hell. Why not?.gpx
  sample-gpx-files/route_2024-09-21_9.04am.gpx
  sample-gpx-files/route_2025-03-01_5.31pm.gpx
  sample-gpx-files/route_2025-03-14_6.24pm.gpx
Due: frontend-prettier

Fix: Clear map and track list on logout
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/TrackList/TrackList.test.tsx
  frontend/src/components/TrackList/TrackList.tsx
Due: frontend-lint, frontend-prettier

Security: Clear IndexedDB geometry cache on logout
  frontend/src/App.test.tsx
  frontend/src/App.tsx
Due: frontend-lint, frontend-prettier

Docs: Add PR review feedback handling guidelines
  CLAUDE.md
Due: none

Perf: Use stable empty array reference for tracks
  frontend/src/App.tsx
Due: frontend-lint, frontend-prettier

Fix: Add error handling to logout cleanup
  frontend/src/App.tsx
Due: frontend-lint, frontend-prettier

Test: Remove module-level geometryCache mock
  frontend/src/App.test.tsx
Due: frontend-lint, frontend-prettier

Test: Fix type safety in test data
  frontend/src/App.test.tsx
Due: frontend-lint, frontend-prettier

[#34] Clear map and track list on logout (#40)
  CLAUDE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/TrackList/TrackList.test.tsx
  frontend/src/components/TrackList/TrackList.tsx
Due: frontend-lint, frontend-prettier

Add activity type inference from GPX filenames
  backend/services/gpx_parser.py
  backend/tests/test_gpx_parser.py
Due: none

Use activity type inference in track upload
  backend/services/track_service.py
Due: none

Remove activity_type_inferred from backend
  alembic/versions/f65ecac1a552_remove_activity_type_inferred_field.py
  backend/api/models.py
  backend/models/track.py
  backend/models/track_model.py
Due: none

Remove activity_type_inferred from frontend
  frontend/src/App.test.tsx
  frontend/src/components/TrackList/TrackListItem.test.tsx
  frontend/src/hooks/useViewportGeometries.test.ts
  frontend/src/types/track.ts
  frontend/src/utils/viewport.test.ts
Due: frontend-lint, frontend-prettier

Refactor: Use data-driven pattern matching and add missing tests
  backend/services/gpx_parser.py
  backend/tests/test_gpx_parser.py
  backend/tests/test_track_service.py
  frontend/src/components/TrackList/TrackListItem.test.tsx
Due: frontend-lint, frontend-prettier

[#20] Implement activity type inference from GPX filenames (#41)
  alembic/versions/f65ecac1a552_remove_activity_type_inferred_field.py
  backend/api/models.py
  backend/models/track.py
  backend/models/track_model.py
  backend/services/gpx_parser.py
  backend/services/track_service.py
  backend/tests/test_gpx_parser.py
  backend/tests/test_track_service.py
  frontend/src/App.test.tsx
  frontend/src/components/TrackList/TrackListItem.test.tsx
  frontend/src/hooks/useViewportGeometries.test.ts
  frontend/src/types/track.ts
  frontend/src/utils/viewport.test.ts
Due: frontend-lint, frontend-prettier

Fix: Isolate test database from production to prevent data loss
  .claude/settings.local.json
  backend/auth/database.py
  backend/main.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/tests/test_auth.py
  backend/tests/test_track_isolation.py
  create_user.py
Due: none

Fix: Add test database cleanup between tests
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_track_isolation.py
Due: none

Refactor: Remove unused test fixtures
  backend/tests/conftest.py
Due: none

Refactor: Use FastAPI dependency injection for test database isolation
  backend/auth/database.py
  backend/main.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/tests/test_auth.py
  backend/tests/test_track_isolation.py
  backend/tests/test_track_service.py
  create_user.py
Due: none

Fix: Isolate test database from production to prevent data loss (#42)
  .claude/settings.local.json
  backend/auth/database.py
  backend/main.py
  backend/tests/conftest.py
  backend/tests/test_api.py
  backend/tests/test_auth.py
  backend/tests/test_track_isolation.py
  backend/tests/test_track_service.py
Due: none

Cache track coordinates in database for 50x faster geometry loading
  alembic/versions/6604a00d174f_add_coordinates_column_to_tracks.py
  backend/models/track_model.py
  backend/services/track_service.py
  backend/tests/test_track_service.py
Due: none

Fix mypy type errors with explicit tuple casts
  backend/services/track_service.py
Due: none

Fix type safety: Use List[List[float]] for JSON-stored coordinates
  backend/models/track_model.py
  backend/services/track_service.py
Due: none

[#39] Cache track coordinates in database for 50x faster geometry loading (#43)
  alembic/versions/6604a00d174f_add_coordinates_column_to_tracks.py
  backend/models/track_model.py
  backend/services/track_service.py
  backend/tests/test_track_service.py
Due: none

Add version validation GitHub Action
  .github/workflows/version-check.yml
Due: none

Add version validation GitHub Action (#45)
  .github/workflows/version-check.yml
Due: none

Bump version to 1.2.0
  frontend/package.json
Due: frontend-prettier
