Repository dhughes/color-the-map: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.5
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.0
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]
        exclude: ^alembic/

  - repo: local
    hooks:
      - id: frontend-lint
        name: ESLint (frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-prettier
        name: Prettier (frontend)
        entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
        language: system
        files: frontend/.*\.(ts|tsx|json|css)$
        pass_filenames: true

Bump version to 1.2.0 (#47)
  frontend/package.json
Due: frontend-prettier

Bump version to 1.3.0
  frontend/package.json
Due: frontend-prettier

Bump version to 1.3.0 (#48)
  frontend/package.json
Due: frontend-prettier

Display version number in lower left corner of map
  frontend/package.json
  frontend/src/App.tsx
Due: frontend-lint, frontend-prettier

Address PR review feedback
  .claude/settings.local.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/tsconfig.app.json
Due: frontend-lint, frontend-prettier

Use CSS class instead of inline styles for version display
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
Due: frontend-lint, frontend-prettier

Display version number in lower left corner of map (#50)
  .claude/settings.local.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/tsconfig.app.json
Due: frontend-lint, frontend-prettier

Add TypeScript type checking to pre-commit hooks and CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier

Add TypeScript type checking to pre-commit hooks and CI (#51)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier

Add worktree development support for parallel Claude Code sessions
  .claude/settings.local.json
  CLAUDE.md
  backend/config.py
  backend/main.py
  frontend/vite.config.ts
  scripts/find-available-port.sh
  scripts/setup-worktree.sh
Due: frontend-lint, frontend-prettier

Add start-backend.sh and start-frontend.sh scripts
  CLAUDE.md
  scripts/start-backend.sh
  scripts/start-frontend.sh
Due: none

Use arguments instead of env vars for start scripts
  .claude/settings.local.json
  CLAUDE.md
  scripts/start-backend.sh
  scripts/start-frontend.sh
Due: none

Run version check on all PRs, not just package.json changes
  .github/workflows/version-check.yml
Due: none

Improve dev server scripts with sensible defaults
  CLAUDE.md
  scripts/find-available-port.sh
  scripts/start-backend.sh
  scripts/start-frontend.sh
Due: none

Add worktree detection instructions for Claude Code
  CLAUDE.md
Due: none

Bump version to 1.5.0
  frontend/package.json
Due: frontend-prettier

Add worktree development support for parallel Claude Code sessions (#52)
  .claude/settings.local.json
  .github/workflows/version-check.yml
  CLAUDE.md
  backend/config.py
  backend/main.py
  frontend/package.json
  frontend/vite.config.ts
  scripts/find-available-port.sh
  scripts/setup-worktree.sh
  scripts/start-backend.sh
  scripts/start-frontend.sh
Due: frontend-lint, frontend-prettier

Update code review guidelines and documentation
  CLAUDE.md
  frontend/package.json
Due: frontend-prettier

Update code review guidelines and documentation (#56)
  CLAUDE.md
  frontend/package.json
Due: frontend-prettier

Fix N+1 query in delete_tracks and misc bug fixes (#7)
  backend/api/models.py
  backend/api/routes.py
  backend/services/track_service.py
  backend/tests/test_api.py
  backend/tests/test_auth.py
  backend/tests/test_track_isolation.py
  backend/tests/test_track_service.py
  frontend/package.json
  frontend/src/api/client.test.ts
  frontend/src/types/track.ts
  scripts/setup-worktree.sh
Due: frontend-lint, frontend-prettier

Fix N+1 query in delete_tracks and misc bug fixes (#7) (#55)
  backend/api/models.py
  backend/api/routes.py
  backend/services/track_service.py
  backend/tests/test_api.py
  backend/tests/test_auth.py
  backend/tests/test_track_isolation.py
  backend/tests/test_track_service.py
  frontend/package.json
  frontend/src/api/client.test.ts
  frontend/src/types/track.ts
  scripts/setup-worktree.sh
Due: frontend-lint, frontend-prettier

Fix speed calculation to return distinct min/max/avg values (#6)
  .claude/settings.local.json
  CLAUDE.md
  backend/services/gpx_parser.py
  backend/tests/test_gpx_parser.py
  scripts/check-for-worktree.sh
  scripts/check-node-modules-exists.sh
  scripts/check-venv-exists.sh
Due: none

Bump version to 1.7.1
  frontend/package.json
Due: frontend-prettier

Fix speed calculation to return distinct min/max/avg values (#53)
  .claude/settings.local.json
  CLAUDE.md
  backend/services/gpx_parser.py
  backend/tests/test_gpx_parser.py
  frontend/package.json
  scripts/check-for-worktree.sh
  scripts/check-node-modules-exists.sh
  scripts/check-venv-exists.sh
Due: frontend-prettier

Bump version to 1.7.2
  frontend/package.json
Due: frontend-prettier

Fix RefreshTokenManager committing in service layer (#8)
  backend/auth/manager.py
  backend/auth/routes.py
  backend/tests/test_refresh_token_manager.py
Due: none

Fix RefreshTokenManager committing in service layer (#58)
  backend/auth/manager.py
  backend/auth/routes.py
  backend/tests/test_refresh_token_manager.py
  frontend/package.json
Due: frontend-prettier

Delete outdated docs directory and add version bump requirement
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/ROADMAP.md
  docs/feature-prompts/01-mvp-walking-skeleton.md
  docs/feature-prompts/02-multi-track-rendering.md
  docs/feature-prompts/02.6-track-selection.md
  docs/feature-prompts/02.7-viewport-based-loading.md
  docs/feature-prompts/02.8-resizable-sidebar.md
  docs/feature-prompts/03-bulk-upload-deduplication.md
  docs/feature-prompts/04-track-management.md
  docs/feature-prompts/05-filtering-search.md
  docs/feature-prompts/06-statistics-analytics.md
Due: none

Bump version to 1.7.3
  frontend/package.json
Due: frontend-prettier

Delete outdated docs directory and add version bump requirement (#57)
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/ROADMAP.md
  docs/feature-prompts/01-mvp-walking-skeleton.md
  docs/feature-prompts/02-multi-track-rendering.md
  docs/feature-prompts/02.6-track-selection.md
  docs/feature-prompts/02.7-viewport-based-loading.md
  docs/feature-prompts/02.8-resizable-sidebar.md
  docs/feature-prompts/03-bulk-upload-deduplication.md
  docs/feature-prompts/04-track-management.md
  docs/feature-prompts/05-filtering-search.md
  docs/feature-prompts/06-statistics-analytics.md
  frontend/package.json
Due: frontend-prettier

[#11] Resolve duplicate TrackGeometry and UploadResult definitions
  backend/api/models.py
  backend/api/routes.py
  backend/models/track_geometry_data.py
  backend/models/track_upload_result.py
  backend/services/track_service.py
  frontend/package.json
Due: frontend-prettier

Add note about using run_in_background for dev servers
  CLAUDE.md
Due: none

[#11] Resolve duplicate TrackGeometry and UploadResult definitions (#59)
  CLAUDE.md
  backend/api/models.py
  backend/api/routes.py
  backend/models/track_geometry_data.py
  backend/models/track_upload_result.py
  backend/services/track_service.py
  frontend/package.json
Due: frontend-prettier

[#28] Add track details panel for single selection
  frontend/package.json
  frontend/src/components/TrackList/TrackDetailsPanel.test.tsx
  frontend/src/components/TrackList/TrackDetailsPanel.tsx
  frontend/src/components/TrackList/TrackList.tsx
  frontend/src/components/TrackList/TrackListItem.tsx
  frontend/src/index.css
  frontend/src/utils/formatters.test.ts
  frontend/src/utils/formatters.ts
Due: frontend-lint, frontend-prettier

[#28] Add track details panel for single selection (#61)
  frontend/package.json
  frontend/src/components/TrackList/TrackDetailsPanel.test.tsx
  frontend/src/components/TrackList/TrackDetailsPanel.tsx
  frontend/src/components/TrackList/TrackList.tsx
  frontend/src/components/TrackList/TrackListItem.tsx
  frontend/src/index.css
  frontend/src/utils/formatters.test.ts
  frontend/src/utils/formatters.ts
Due: frontend-lint, frontend-prettier

[#29] Add bulk operations panel for multi-track selection
  backend/api/models.py
  backend/api/routes.py
  backend/services/track_service.py
  backend/tests/test_api.py
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/components/TrackList/BulkOperationsPanel.test.tsx
  frontend/src/components/TrackList/BulkOperationsPanel.tsx
  frontend/src/components/TrackList/TrackDetailsPanel.tsx
  frontend/src/components/TrackList/TrackList.tsx
  frontend/src/index.css
  frontend/src/types/track.ts
Due: frontend-lint, frontend-prettier

Fix double mutation on Enter key press
  frontend/src/components/TrackList/BulkOperationsPanel.test.tsx
  frontend/src/components/TrackList/BulkOperationsPanel.tsx
  frontend/src/components/TrackList/TrackDetailsPanel.test.tsx
  frontend/src/components/TrackList/TrackDetailsPanel.tsx
Due: frontend-lint, frontend-prettier

[#29] Add bulk operations panel for multi-track selection (#62)
  backend/api/models.py
  backend/api/routes.py
  backend/services/track_service.py
  backend/tests/test_api.py
  frontend/package.json
  frontend/src/api/client.ts
  frontend/src/components/TrackList/BulkOperationsPanel.test.tsx
  frontend/src/components/TrackList/BulkOperationsPanel.tsx
  frontend/src/components/TrackList/TrackDetailsPanel.test.tsx
  frontend/src/components/TrackList/TrackDetailsPanel.tsx
  frontend/src/components/TrackList/TrackList.tsx
  frontend/src/index.css
  frontend/src/types/track.ts
Due: frontend-lint, frontend-prettier
