Repository dhughes/color-the-map: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-prettier

frontend-lint:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Prettier (frontend)
  entry: bash -c 'cd frontend && npx prettier --write "${@#frontend/}"' --
  language: system
  pass_filenames: true

Fix tooltip and swap icons for isolation toggle
  frontend/src/components/TrackList/SelectionPanel.test.tsx
  frontend/src/components/TrackList/SelectionPanel.tsx
Due: frontend-lint, frontend-prettier

Update local settings with allowed domains
  .claude/settings.local.json
Due: none

Change unisolate tooltip to 'Unisolate tracks'
  frontend/src/components/TrackList/SelectionPanel.test.tsx
  frontend/src/components/TrackList/SelectionPanel.tsx
Due: frontend-lint, frontend-prettier

Remove duplicate mutation and junk settings entry
  .claude/settings.local.json
  frontend/src/components/TrackList/TrackList.tsx
Due: frontend-lint, frontend-prettier

Add isolate/unisolate toggle to selection panel (#95)
  .claude/settings.local.json
  frontend/package.json
  frontend/src/components/TrackList/SelectionPanel.test.tsx
  frontend/src/components/TrackList/SelectionPanel.tsx
  frontend/src/components/TrackList/TrackList.tsx
Due: frontend-lint, frontend-prettier

Add multi-map support (issue #32)
  alembic/env.py
  alembic/versions/2f2d4f3961be_add_multi_map_support.py
  backend/api/map_routes.py
  backend/api/models.py
  backend/api/routes.py
  backend/auth/manager.py
  backend/main.py
  backend/models/map.py
  backend/models/map_model.py
  backend/models/track.py
  backend/models/track_model.py
  backend/services/map_service.py
  backend/services/track_service.py
  backend/tests/test_api.py
  backend/tests/test_auth.py
  backend/tests/test_map_api.py
  backend/tests/test_map_service.py
  backend/tests/test_track_isolation.py
  backend/tests/test_track_service.py
  create_user.py
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/api/client.test.ts
  frontend/src/api/client.ts
  frontend/src/components/MapSelector/MapSelector.test.tsx
  frontend/src/components/MapSelector/MapSelector.tsx
  frontend/src/components/MapSelector/index.ts
  frontend/src/components/TrackList/BulkOperationsPanel.test.tsx
  frontend/src/components/TrackList/BulkOperationsPanel.tsx
  frontend/src/components/TrackList/SelectionPanel.test.tsx
  frontend/src/components/TrackList/SelectionPanel.tsx
  frontend/src/components/TrackList/TrackDetailsPanel.test.tsx
  frontend/src/components/TrackList/TrackDetailsPanel.tsx
  frontend/src/components/TrackList/TrackList.test.tsx
  frontend/src/components/TrackList/TrackList.tsx
  frontend/src/hooks/useViewportGeometries.test.ts
  frontend/src/hooks/useViewportGeometries.ts
  frontend/src/index.css
  frontend/src/types/map.ts
  frontend/src/types/track.ts
Due: frontend-lint, frontend-prettier

Fix deleted map tracks reappearing on newly created maps
  backend/api/map_routes.py
  backend/auth/database.py
  backend/services/map_service.py
  backend/tests/conftest.py
  backend/tests/test_map_service.py
  backend/tests/test_refresh_token_manager.py
  backend/tests/test_track_service.py
  frontend/src/App.tsx
Due: frontend-lint, frontend-prettier

Persist selected map across page reloads
  .claude/settings.local.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/utils/selectedMapStorage.test.ts
  frontend/src/utils/selectedMapStorage.ts
Due: frontend-lint, frontend-prettier

Remove worktree-specific permission entries from settings
  .claude/settings.local.json
Due: none

Remove is_default column from maps
  alembic/versions/2f2d4f3961be_add_multi_map_support.py
  backend/api/map_routes.py
  backend/api/models.py
  backend/auth/manager.py
  backend/models/map.py
  backend/models/map_model.py
  backend/services/map_service.py
  backend/tests/test_api.py
  backend/tests/test_map_api.py
  backend/tests/test_map_service.py
  backend/tests/test_track_isolation.py
  backend/tests/test_track_service.py
  create_user.py
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/api/client.test.ts
  frontend/src/components/MapSelector/MapSelector.test.tsx
  frontend/src/components/TrackList/TrackList.test.tsx
  frontend/src/types/map.ts
Due: frontend-lint, frontend-prettier

Address PR review feedback
  alembic/versions/2f2d4f3961be_add_multi_map_support.py
  backend/api/models.py
  backend/auth/manager.py
  backend/services/map_service.py
  backend/tests/test_map_api.py
  backend/tests/test_map_service.py
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/TrackList/BulkOperationsPanel.tsx
  frontend/src/components/TrackList/SelectionPanel.tsx
  frontend/src/components/TrackList/TrackDetailsPanel.tsx
  frontend/src/components/TrackList/TrackList.tsx
  frontend/src/index.css
Due: frontend-lint, frontend-prettier

Convert module-level service globals to FastAPI DI and apply CSS variables to LoginModal
  backend/api/map_routes.py
  backend/tests/test_api.py
  backend/tests/test_map_api.py
  backend/tests/test_track_isolation.py
  frontend/src/components/LoginModal.css
  frontend/src/index.css
Due: frontend-prettier

Address round 2 PR feedback: MapUpdate validation, TrackList null safety, showStatus helper
  alembic/versions/2f2d4f3961be_add_multi_map_support.py
  backend/api/models.py
  backend/tests/test_map_api.py
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/TrackList/TrackList.tsx
Due: frontend-lint, frontend-prettier

Always render sidebar, populate content as data loads
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/TrackList/SelectionPanel.tsx
  frontend/src/components/TrackList/TrackList.tsx
Due: frontend-lint, frontend-prettier

Always render sidebar with disabled MapSelector while maps load
  frontend/src/App.test.tsx
  frontend/src/components/MapSelector/MapSelector.test.tsx
  frontend/src/components/MapSelector/MapSelector.tsx
  frontend/src/components/TrackList/TrackList.tsx
  frontend/src/index.css
Due: frontend-lint, frontend-prettier

Path conditions:
  frontend-lint: any of: frontend/.*\.(ts|tsx)$
  frontend-prettier: any of: frontend/.*\.(ts|tsx|json|css)$
